.flex-container{
    display: flex;
    flex-direction:inherit;
    background-color: black;
    flex-wrap:wrap;
}

.flex-container div{
    padding: 2%;
    margin: 3%;
    background-color: aliceblue;
}
.input-filed{
  padding-top:3%;
  display: flex;
  justify-content: center;
  height: 40px;
  font-size: 30px;
}
.input-filed button{
    display: flex;
    height: 20px;
    margin-left: 2%;
}